@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&display=swap');

html {
  font-family: 'Crimson Pro';
}

header {
  background-color: white;
  border-bottom: 2px solid #ddd;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
}

.header-logo {
  width: 200px;
  margin-top: 30px;
}

.header-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header-links li {
  margin-right: 20px;
}

.header-link {
  text-decoration: none;
  color: black;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  margin-top: 100px;
  width: 100%;
}

.normal-text {
  margin-top: 20px;
  text-align: center;
  color: #000000;
  font-size: 18px;
}

img {
  width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.external-links {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.external-links a {
  margin: 0 10px;
  text-decoration: none;
  color: black;
}

  
  .img + .img {
    margin-top: 50px; /* Adjust the value to your preference */
  }
  
  .img + .tripReport figure {
    margin-top: 50px; /* Adjust the value to your preference */
  }
  
  .tripReport figure + .img {
    margin-top: 50px; /* Adjust the value to your preference */
  }
  
  .tripReport figure + .tripReport figure {
    margin-top: 50px; /* Adjust the value to your preference */
  }
  
  /* Media queries */
  
  /* For screens smaller than 600px */
  @media (max-width: 600px) {
    header {
      font-size: 24px;
      height: 60px; /* change this value to adjust the height of the header for small screens */
    }
  
    nav li {
      margin: 0 5px;
    }
  }
  
  /* For screens between 600px and 900px */
  @media (min-width: 600px) and (max-width: 900px) {
    header {
      font-size: 36px;
    }
  
    nav li {
      margin: 0 10px;
    }
  }
  
  /* For screens larger than 900px */
  @media (min-width: 900px) {
    header {
      font-size: 48px;
      height: 100px; /* change this value to adjust the height of the header for large screens */
    }
  }
  
  /* WRITING LANDING PAGE */
  
  .columns-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  
  .column-left,
  .column-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 20px;
  }
  
  .column-left {
    border-right: 1px solid black;
  }
  
  /* ESSAY AND STORY PAGE */
  .essay {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: justify;
    text-justify: inter-character;
    justify-content: space-between;
    width: 68%;
    line-height: 1.5;
  }
  
  .essayTitle {
    margin-bottom: 0;
    font-size: 24px;
    font-weight: bold;
  }
  
  h2 {
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
    text-align: left;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    color: black;
    text-decoration: none;
  }
  
  .a-body {
    color: black;
    text-decoration: underline;
  }
  
  /* TRIPS LANDING PAGE */
  
  .t-column {
    flex: 1;
    padding: 10px;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    text-align: left;
  }
  
  .t-column-left {
    display: flex;
    order: 1;
    margin-right: 20px;
  }
  
  .t-column-center {
    display: flex;
    order: 2;
  }
  
  .t-column-right {
    display: flex;
    order: 3;
    margin-left: 20px;
  }
  
  /* TRIP REPORT */
  
  .tripReport {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: justify;
    text-justify: inter-character;
    justify-content: space-between;
    width: 68%;
    line-height: 1.5;
  }
  
  .tripReport p {
    text-align: justify;
    text-justify: inter-character;
    line-height: 1.5;
  }
  
  .tripTitle {
    margin-bottom: 0;
    font-size: 24px;
    font-weight: bold;
  }
  
  .tripReport figure {
    margin: 0;
    margin-bottom: 20px;
  }
  
  .tripReport figcaption {
    font-style: italic;
    text-align: left;
    margin-left: 0;
  }
  /* image stuff only applied to trip reports */
  .tripReport img {
    width: 100%
  }
  
  
  /* IFRAME SHITE */
  .video-container {
    text-align: center;
  }
  
  .video-container iframe {
    padding-top: 40px;
    padding-bottom: 40px;
    display: inline-block;
  }
  
  /* CREATION PAGES */
  
  .creation {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: justify;
    text-justify: inter-character;
    justify-content: space-between;
    width: 68%;
    line-height: 1.5;
  }
  
  .creation p {
    text-align: justify;
    text-justify: inter-character;
    line-height: 1.5;
  }
  
  .creationTitle {
    margin-bottom: 0;
    font-size: 24px;
    font-weight: bold;
  }
  
  .creation figure {
    margin: 0;
    margin-bottom: 20px;
  }
  
  .creation figcaption {
    font-style: italic;
    text-align: left;
    margin-left: 0;
  }
  /* image stuff only applied to creation pages */
  .creation img {
    width: 100%
  }
  

  /* Form styling */

  #fs-frm input,
  #fs-frm select,
  #fs-frm textarea,
  #fs-frm fieldset,
  #fs-frm optgroup,
  #fs-frm label,
  #fs-frm #card-element:disabled {
    font-family: inherit;
    font-size: 100%;
    color: inherit;
    border: none;
    border-radius: 0;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  #fs-frm label,
  #fs-frm legend,
  #fs-frm ::placeholder {
    font-size: .825rem;
    margin-bottom: .5rem;
    padding-top: .2rem;
    display: flex;
    align-items: baseline;
  }
  
  /* border, padding, margin, width */
  #fs-frm input,
  #fs-frm select,
  #fs-frm textarea,
  #fs-frm #card-element {
    border: 1px solid rgba(0,0,0,0.2);
    background-color: rgba(255,255,255,0.9);
    padding: .75em 1rem;
    margin-bottom: 1.5rem;
  }
  #fs-frm input:focus,
  #fs-frm select:focus,
  #fs-frm textarea:focus {
    background-color: white;
    outline-style: solid;
    outline-width: thin;
    outline-color: gray;
    outline-offset: -1px;
  }
  #fs-frm [type="text"],
  #fs-frm [type="email"] {
    width: 100%;
  }
  #fs-frm [type="button"],
  #fs-frm [type="submit"],
  #fs-frm [type="reset"] {
    width: auto;
    cursor: pointer;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
  }
  #fs-frm [type="button"]:focus,
  #fs-frm [type="submit"]:focus,
  #fs-frm [type="reset"]:focus {
    outline: none;
  }
  #fs-frm [type="submit"],
  #fs-frm [type="reset"] {
    margin-bottom: 0;
  }
  #fs-frm select {
    text-transform: none;
  }
  
  #fs-frm [type="checkbox"] {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    appearance: checkbox;
    display: inline-block;
    width: auto;
    margin: 0 .5em 0 0 !important;
  }
  
  #fs-frm [type="radio"] {
    -webkit-appearance: radio;
    -moz-appearance: radio;
    appearance: radio;
  }
  
  /* address, locale */
  #fs-frm fieldset.locale input[name="city"],
  #fs-frm fieldset.locale select[name="state"],
  #fs-frm fieldset.locale input[name="postal-code"] {
    display: inline;
  }
  #fs-frm fieldset.locale input[name="city"] {
    width: 52%;
  }
  #fs-frm fieldset.locale select[name="state"],
  #fs-frm fieldset.locale input[name="postal-code"] {
    width: 20%;
  }
  #fs-frm fieldset.locale input[name="city"],
  #fs-frm fieldset.locale select[name="state"] {
    margin-right: 3%;
  }