@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&display=swap');

html {
  font-family: 'Crimson Pro';
}

header {
  background-color: white;
  border-bottom: 2px solid #ddd;
  padding-left: 10px;
  padding-bottom: 9px;
  padding-top: 0px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 20px 10px; */
  /* margin-top: 10px; */
}

.header-logo {
  width: 110px;
  margin-top: 0px;
}

.header-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header-links li {
  margin-right: 20px;
}

.header-link {
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  margin-top: 100px;
  width: 100%;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 50em;
}

.normal-text {
  margin-top: 20px;
  color: #000000;
  font-size: 18px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

img {
  width: 70%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.external-links a {
  margin-top: 30px;
  margin: 0 10px;
  text-decoration: none;
  color: black;
}

  /* Media queries */
  /* For screens smaller than 600px */
  @media (max-width: 600px) {
    header {
      font-size: 24px;
      height: 60px; /* change this value to adjust the height of the header for small screens */
    }
  
    nav li {
      margin: 0 5px;
    }
  }
  
  /* For screens between 600px and 900px */
  @media (min-width: 600px) and (max-width: 900px) {
    header {
      font-size: 36px;
    }
  
    nav li {
      margin: 0 10px;
    }
  }
  
  /* For screens larger than 900px */
  @media (min-width: 900px) {
    header {
      font-size: 48px;
      height: 100px; /* change this value to adjust the height of the header for large screens */
    }
  }
   

  /* Sub Page Formatting */
  
  .subPage {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: justify;
    text-justify: inter-character;
    justify-content: space-between;
    width: 50%;
    line-height: 1.5;
    margin-left: 25%;
  }
  
  .subPage p {
    text-align: justify;
    text-justify: inter-character;
    line-height: 1.5;
  }
  
  .pageTitle {
    margin-bottom: 0;
    font-size: 24px;
    font-weight: bold;
  }
  
  .subPage figure {
    margin: 0;
    margin-bottom: 20px;
  }
  
  .subPage figcaption {
    font-style: italic;
    text-align: left;
    margin-left: 0;
  }
  /* image stuff only applied to trip reports */
  .subPage img {
    width: 100%
  }
  
  
  /* IFRAME SHITE */
  .video-container {
    text-align: center;
  }
  
  .video-container iframe {
    padding-top: 40px;
    padding-bottom: 40px;
    display: inline-block;
  }

  /* Form styling */

  #fs-frm input,
  #fs-frm select,
  #fs-frm textarea,
  #fs-frm fieldset,
  #fs-frm optgroup,
  #fs-frm label,
  #fs-frm #card-element:disabled {
    font-family: inherit;
    font-size: 100%;
    color: inherit;
    border: none;
    border-radius: 0;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  #fs-frm label,
  #fs-frm legend,
  #fs-frm ::placeholder {
    font-size: .825rem;
    margin-bottom: .5rem;
    padding-top: .2rem;
    display: flex;
    align-items: baseline;
  }
  
  /* border, padding, margin, width */
  #fs-frm input,
  #fs-frm select,
  #fs-frm textarea,
  #fs-frm #card-element {
    border: 1px solid rgba(0,0,0,0.2);
    background-color: rgba(255,255,255,0.9);
    padding: .75em 1rem;
    margin-bottom: 1.5rem;
  }
  #fs-frm input:focus,
  #fs-frm select:focus,
  #fs-frm textarea:focus {
    background-color: white;
    outline-style: solid;
    outline-width: thin;
    outline-color: gray;
    outline-offset: -1px;
  }
  #fs-frm [type="text"],
  #fs-frm [type="email"],
  #fs-frm [type="message"] {
    width: 90%;
  }
  #fs-frm [type="button"],
  #fs-frm [type="submit"],
  #fs-frm [type="reset"] {
    width: auto;
    cursor: pointer;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
  }
  #fs-frm [type="button"]:focus,
  #fs-frm [type="submit"]:focus,
  #fs-frm [type="reset"]:focus {
    outline: none;
  }
  #fs-frm [type="submit"],
  #fs-frm [type="reset"] {
    margin-bottom: 0;
  }
  #fs-frm select {
    text-transform: none;
  }
  
  #fs-frm [type="checkbox"] {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    appearance: checkbox;
    display: inline-block;
    width: auto;
    margin: 0 .5em 0 0 !important;
  }
  
  #fs-frm [type="radio"] {
    -webkit-appearance: radio;
    -moz-appearance: radio;
    appearance: radio;
  }
  
  /* address, locale */
  #fs-frm fieldset.locale input[name="city"],
  #fs-frm fieldset.locale select[name="state"],
  #fs-frm fieldset.locale input[name="postal-code"] {
    display: inline;
  }
  #fs-frm fieldset.locale input[name="city"] {
    width: 52%;
  }
  #fs-frm fieldset.locale select[name="state"],
  #fs-frm fieldset.locale input[name="postal-code"] {
    width: 20%;
  }
  #fs-frm fieldset.locale input[name="city"],
  #fs-frm fieldset.locale select[name="state"] {
    margin-right: 3%;
  }