@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&display=swap');


.headers {
    margin: auto;
    color: #000000; 
    font-size: 36px;
}

.normal-text {
    margin: auto;
    color: #000000; 
    font-size: 18px;
}